<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pokemon.name %></title>
    <%- include("imports.ejs") %>
  </head>
  <body class="show-item">
    <header>
          <h1>Name: <%= pokemon.name %></h1>
            <button><a href="/pokemon">GO BACK TO LIST OF FRUITS</a></button>
    </header>
    <div class="poke-body">
        <div class="poke-info">
          <h2>ID:<%= pokemon.id %></h2>
          <h2>Name: <%= pokemon.name %></h2>
          <img class="poke-img-show" src="<%= pokemon.img %>">
        </div>
        <div class="poke-type">
          <ul> <p>Type</p>
              <% for(i=0; i<pokemon.type.length;i++){%>
              <li><%= pokemon.type[i] %></li>
              <% } %>           
          </ul>
        </div>
        <div class="poke-stats">
          <ul>
            <p>Stats</p>
            <li><h4>HP: <%= pokemon.stats.hp %></h4> </li>
            <li><h4>ATTACK: <%= pokemon.stats.attack %></h4></li>
            <li><h4>DEFENSE: <%= pokemon.stats.defense %></h4></li> 
          </ul>
        </div>
    </div>
    <div class="poke-transaction">
      <a href="/pokemon/<%= id %>/edit"><button>EDIT</button></a>
      <form action="/pokemon/<%= id %>?_method=DELETE" method="POST">
      <input class="btn-delete" type="submit" value="DELETE"/>
       </form>
    </div>

    
  </body>
</html>
